{%extends "layout.html" %}
{%block content %}

    <div class="container-fluid">
    <form  action="/driller" method="post">
       <div class="row text-center" style="background-color:SteelBlue;">
          <div class="col-md-4">Travel</div>
          <div class="col-md-4">Speed</div>
          <div class="col-md-4">Trim</div>
        </div>
        <div class="row text-center" style="background-color:SteelBlue;">
          <div class="col-md-4"><input class="form-control form-control-sm" type="number" name="driveD" value="{{ driveD }}"></div>
          <div class="col-md-4"><input class="form-control form-control-sm" type="number" name="driveS" value="{{ driveS }}"></div>
          <div class="col-md-4"><input class="form-control form-control-sm" type="number" name="driveT" value="{{ driveT }}"></div>
        </div>
        <div class="row text-center" style="background-color:SteelBlue;">
          <div class="col-md-3">Drill X</div>
          <div class="col-md-3">Drill Z</div>
          <div class="col-md-2"><input class="btn btn-outline-light btn-sm btn-block" type="submit" name="led" value="LED On"></div>
          <div class="col-md-2"><input class="btn btn-outline-light btn-sm btn-block" type="submit" name="drill" value="Drill On"></div>
          <div class="col-md-2"><input class="btn btn-outline-light btn-sm btn-block" type="submit" name="submit" value="Submit"></div>
        </div>
        <div class="row text-center" style="background-color:SteelBlue;">
          <div class="col-md-3"><input class="form-control form-control-sm" type="number" name="drillX" value="{{ drillX }}"></div>
          <div class="col-md-3"><input class="form-control form-control-sm" type="number" name="drillZ" value="{{ drillZ }}"></div>
          <div class="col-md-2"><input class="btn btn-outline-light btn-sm btn-block" type="submit" name="led" value="LED Off"></div>
          <div class="col-md-2"><input class="btn btn-outline-light btn-sm btn-block" type="submit" name="drill" value="Drill Off"></div>
          <div class="col-md-2"><input class="btn btn-outline-light btn-sm btn-block" type="submit" name="submit" value="Reset All Values"></div>
        </div>
    </form>

{% endblock %}
