<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nova Robotics Robot Control UI">
    <meta name="author" content="{{ author }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nova.css')}}">

    <title>Nova Robotics Robot Control UI</title>
  </head>
  <style>
  .jumbotron {
    padding: 15px;
  }
  .row {
    padding: 3px;
  }
</style>
<body style="background-color:SteelBlue;"><br>
  <main role="main" class="container-fluid w-90">
    <section class="jumbotron text-light">

      <img src="http://{{ localip }}:8080" onerror="this.src='/static/images/800x600.png'" id="main_feed" class="img-fluid mx-auto float-left d-block w-50"></div>
      <img src="http://{{ localip }}:8082" onerror="this.src='/static/images/800x600.png'" class="img-fluid mx-auto float-right d-block w-50"></div>

{% block content %}{% endblock %}

    </section>
    </main>
<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/nova.js')}}"></script>
  </body>
</html>
