{%extends "layout.html" %}
{%block content %}

    <div class="container-fluid">
    <form  action="/welder" method="post">
      <input type="submit" name="submit" value="invis_submit" id="invis_submit" style="display: none" />
      <div class="row text-center" style="background-color:SteelBlue;">
        <div class="col-md-2">Theta Target</div>
        <div class="col-md-2">R Target</div>
        <div class="col-md-2">Arm Speed Target</div>
        <div class="col-md-2">Left Z Target</div>
        <div class="col-md-2">Right Z Target</div>
        <div class="col-md-2">Wire Speed</div>
      </div>
      <div class="row text-center" style="background-color:SteelBlue;">
        <div class="col-md-2"><input class="form-control form-control-sm" type="number" name="theta_target" value="{{ theta_target }}"></div>
        <div class="col-md-2"><input class="form-control form-control-sm" type="number" name="r_target" value="{{ r_target }}"></div>
        <div class="col-md-2"><input class="form-control form-control-sm" type="number" name="arm_speed_target" value="{{ arm_speed_target }}"></div>
        <div class="col-md-2"><input class="form-control form-control-sm" type="number" name="left_z" value="{{ left_z }}"></div>
        <div class="col-md-2"><input class="form-control form-control-sm" type="number" name="right_z" value="{{ right_z }}"></div>
        <div class="col-md-2"><input class="form-control form-control-sm" type="number" name="wire_speed" value="{{ wire_speed }}"></div>
      </div>
      <div class="row text-center" style="background-color:SteelBlue;">
        <div class="col-md-2">Travel</div>
        <div class="col-md-2">Speed</div>
        <div class="col-md-2">Trim</div>
        <div class="col-md-3"><input class="btn {% if arm_select == 1 %}btn-outline-light{% else %}btn-success{% endif %} btn-sm btn-block" type="submit" name="arm_select" value="Welding Arm"></div>
        <div class="col-md-3"><input class="btn {% if run_script == 1 %}btn-outline-light{% elif run_script == 0 %}btn-success{% endif %} btn-sm btn-block" type="submit" name="run_script" value="Stop Script"></div>
      </div>
      <div class="row text-center" style="background-color:SteelBlue;">
        <div class="col-md-2"><input class="form-control form-control-sm" type="number" name="distance" value="{{ distance }}"></div>
        <div class="col-md-2"><input class="form-control form-control-sm" type="number" name="speed" value="{{ speed }}"></div>
        <div class="col-md-2"><input class="form-control form-control-sm" type="number" name="trim" value="{{ trim }}"></div>
        <div class="col-md-3"><input class="btn {% if arm_select == 0 %}btn-outline-light{% else %}btn-success{% endif %} btn-sm btn-block" type="submit" name="arm_select" value="Grinding Arm"></div>
        <div class="col-md-3"><input class="btn {% if run_script == 0 %}btn-outline-light{% elif run_script == 1 %}btn-success{% endif %} btn-sm btn-block" type="submit" name="run_script" value="Run Script"></div>
      </div>
      <div class="row text-center" style="background-color:SteelBlue;">
        <div class="col-md-2"><input class="btn {% if led == 1 %}btn-success{% else %}btn-outline-light{% endif %} btn-sm btn-block" type="submit" name="led" value="Left LED On"></div>
        <div class="col-md-2"><input class="btn {% if led == 2 %}btn-success{% else %}btn-outline-light{% endif %} btn-sm btn-block" type="submit" name="led" value="Right LED On"></div>
        <div class="col-md-2"><input class="btn {% if grinder == 0 %}btn-outline-light{% else %}btn-success{% endif %} btn-sm btn-block" type="submit" name="grinder" value="Grinder On"></div>
        <div class="col-md-2"><input class="btn {% if outriggers == 0 %}btn-outline-light{% else %}btn-success{% endif %} btn-sm btn-block" type="submit" name="outriggers" value="Outriggers On"></div>
        <div class="col-md-2"><input class="btn {% if argon == 0 %}btn-outline-light{% else %}btn-success{% endif %} btn-sm btn-block" type="submit" name="argon" value="Argon On"></div>
        <div class="col-md-2"><input class="btn btn-outline-light btn-sm btn-block" type="submit" name="submit" value="Reset All Values"></div>
      </div>
      <div class="row text-center" style="background-color:SteelBlue;">
        <div class="col-md-2"><input class="btn {% if led == 3 %}btn-success{% else %}btn-outline-light{% endif %} btn-sm btn-block" type="submit" name="led" value="Both LEDs On"></div>
        <div class="col-md-2"><input class="btn {% if led == 0 %}btn-success{% else %}btn-outline-light{% endif %} btn-sm btn-block" type="submit" name="led" value="Both LEDs Off"></div>
        <div class="col-md-2"><input class="btn {% if grinder == 1 %}btn-outline-light{% else %}btn-success{% endif %} btn-sm btn-block" type="submit" name="grinder" value="Grinder Off"></div>
        <div class="col-md-2"><input class="btn {% if outriggers == 1 %}btn-outline-light{% else %}btn-success{% endif %} btn-sm btn-block" type="submit" name="outriggers" value="Outriggers Off"></div>
        <div class="col-md-2"><input class="btn {% if argon == 1 %}btn-outline-light{% else %}btn-success{% endif %} btn-sm btn-block" type="submit" name="argon" value="Argon Off"></div>
        <div class="col-md-2"><input class="btn btn-outline-light btn-sm btn-block" type="submit" name="submit" value="Submit"></div>
      </div>
    </form>
    <script type="text/javascript">
    if ({{ run_script }} == 1){
      setInterval(function () {document.getElementById("invis_submit").click();}, 5000);
      alert("Script is running, please wait...");
    } else {}
    </script>

{% endblock %}
